services:
  web-server:
    container_name: web-server
    build:
      context: .
      dockerfile: dockerfiles/frontend.Dockerfile
    command: ["npx", "http-server"]
    ports:
      - 8080:8080
    volumes:
      - ./frontend:/frontend
  database:
    image: postgres:18
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  api-server:
    container_name: api-server
    build:
      context: .
      dockerfile: dockerfiles/api.Dockerfile
    command: uv run uvicorn src.app.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - 8000:8000
    volumes:
      - ./backend/src/app:/app/src/app
